### Load Library

In [1]:
# Load library
import os 
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.spatial import distance
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity,cosine_distances

# signal tools 
from scipy import signal

# itertools
import functools
import itertools
import operator
import numpy as np
#import perfplot

In [ ]:
'''
# # Task Steps: 
# 1. load data
# 2. data에서 rr-interval 개수 확인
# 3. 90%, 95% 식으로 cutoff설정
# 4. cutoff설정된 값으로 return되는 value, value개수 확인
# 5. optional 눈으로 graph를 겹쳐보아요~!

'''

In [ ]:
# Task steps:

1. load data
    PATH_IN = r'C:\Users\MI2RL-KHJ\workspace_signal\mit\processed_norm'
    1-1. cosine similarity: ex) 'cos_sim_norm_00_89.csv',  'cos_sim_norm_01_127.csv', 'cos_sim_norm_02_96.csv'
    1-2. rpeak: ex) 'correct_rpeaks_test_norm_ecg_norm_00.csv', 'correct_rpeaks_test_norm_ecg_norm_01.csv',
    1-3. y-values: ex) 'filtered_test_norm_ecg_norm_00.csv', 'filtered_test_norm_ecg_norm_01.csv',
2.

### Load Data

In [2]:
# load data for cosine-similarity
PATH_IN = r'C:\Users\MI2RL-KHJ\workspace_signal\mit\processed_norm'
cos_path = os.chdir(os.path.join(PATH_IN, 'cosine_sim'))

cos_sim_norm = [i for i in os.listdir(cos_path )]

In [3]:
cos_sim_norm
# ['cos_disc',
#  'cos_sim_norm_00_89.csv',
#  'cos_sim_norm_01_127.csv',
#  'cos_sim_norm_02_96.csv',
#  'cos_sim_norm_03_92.csv',...]

['cos_disc',
 'cos_sim_norm_00_89.csv',
 'cos_sim_norm_01_127.csv',
 'cos_sim_norm_02_96.csv',
 'cos_sim_norm_03_92.csv',
 'cos_sim_norm_04_82.csv',
 'cos_sim_norm_05_123.csv',
 'cos_sim_norm_06_101.csv',
 'cos_sim_norm_07_107.csv',
 'cos_sim_norm_08_89.csv',
 'cos_sim_norm_09_121.csv',
 'cos_sim_norm_10_86.csv',
 'cos_sim_norm_11_89.csv',
 'cos_sim_norm_12_96.csv',
 'cos_sim_norm_13_81.csv',
 'cos_sim_norm_14_94.csv',
 'cos_sim_norm_15_111.csv',
 'cos_sim_norm_16_92.csv',
 'cos_sim_norm_17_69.csv',
 'tmp']

In [4]:
cos_df = pd.read_csv(cos_sim_norm[1])
cos_df.head()

   Unnamed: 0  index   cos_sim  original_points
0           0   1406  0.999919               96
1           1   2347  0.999893               93
2           2   2859  0.999891               99
3           3    399  0.999891               94
4           4   2158  0.999891               94

In [5]:
# load data 
rpeakList = [i for i in os.listdir(PATH_IN) if i.startswith('correct')]
fxvalList = [i for i in os.listdir(PATH_IN) if i.startswith('filtered')]

In [6]:
rpeakList, fxvalList

(['correct_rpeaks_test_norm_ecg_norm_00.csv',
  'correct_rpeaks_test_norm_ecg_norm_01.csv',
  'correct_rpeaks_test_norm_ecg_norm_02.csv',
  'correct_rpeaks_test_norm_ecg_norm_03.csv',
  'correct_rpeaks_test_norm_ecg_norm_04.csv',
  'correct_rpeaks_test_norm_ecg_norm_05.csv',
  'correct_rpeaks_test_norm_ecg_norm_06.csv',
  'correct_rpeaks_test_norm_ecg_norm_07.csv',
  'correct_rpeaks_test_norm_ecg_norm_08.csv',
  'correct_rpeaks_test_norm_ecg_norm_09.csv',
  'correct_rpeaks_test_norm_ecg_norm_10.csv',
  'correct_rpeaks_test_norm_ecg_norm_11.csv',
  'correct_rpeaks_test_norm_ecg_norm_12.csv',
  'correct_rpeaks_test_norm_ecg_norm_13.csv',
  'correct_rpeaks_test_norm_ecg_norm_14.csv',
  'correct_rpeaks_test_norm_ecg_norm_15.csv',
  'correct_rpeaks_test_norm_ecg_norm_16.csv',
  'correct_rpeaks_test_norm_ecg_norm_17.csv'],
 ['filtered_test_norm_ecg_norm_00.csv',
  'filtered_test_norm_ecg_norm_01.csv',
  'filtered_test_norm_ecg_norm_02.csv',
  'filtered_test_norm_ecg_norm_03.csv',
  'filtered_test_norm_ecg_norm_04.csv',
  'filtered_test_norm_ecg_norm_05.csv',
  'filtered_test_norm_ecg_norm_06.csv',
  'filtered_test_norm_ecg_norm_07.csv',
  'filtered_test_norm_ecg_norm_08.csv',
  'filtered_test_norm_ecg_norm_09.csv',
  'filtered_test_norm_ecg_norm_10.csv',
  'filtered_test_norm_ecg_norm_11.csv',
  'filtered_test_norm_ecg_norm_12.csv',
  'filtered_test_norm_ecg_norm_13.csv',
  'filtered_test_norm_ecg_norm_14.csv',
  'filtered_test_norm_ecg_norm_15.csv',
  'filtered_test_norm_ecg_norm_16.csv',
  'filtered_test_norm_ecg_norm_17.csv'])

In [7]:
# check sample 
rpeaks = pd.read_csv(os.path.join(PATH_IN, rpeakList[0]), header=None)
yvals = pd.read_csv(os.path.join(PATH_IN, fxvalList[0]), header=None)

In [8]:
# rpeaks, yvals: dataframe to list 
rpeaksList = list(np.array(rpeaks[0].tolist())) 
yvalsList = list(np.array(yvals[0].tolist()))
ryvalList = [ yvalsList[int(r)] for r in rpeaksList ]

# # original plot with rpeaks 
# %matplotlib
# plt.plot(yvalsList)
# plt.plot(rpeaksList ,ryvalList, "r*")
# plt.grid()

In [9]:
rpeaks.head(), yvals.head(), rpeakList[0] ,cos_sim_norm[1]

(       0
 0  116.0
 1  209.0
 2  298.0
 3  392.0
 4  498.0,
           0
 0 -0.001539
 1 -0.020544
 2 -0.016044
 3 -0.030780
 4 -0.040764,
 'correct_rpeaks_test_norm_ecg_norm_00.csv',
 'cos_sim_norm_00_89.csv')

In [10]:
cos_df

      Unnamed: 0  index   cos_sim  original_points
0              0   1406  0.999919               96
1              1   2347  0.999893               93
2              2   2859  0.999891               99
3              3    399  0.999891               94
4              4   2158  0.999891               94
...          ...    ...       ...              ...
5151        5151    675  0.989159               45
5152        5152   4905  0.986905               34
5153        5153   3599  0.984791               20
5154        5154   3681  0.984658              198
5155        5155    619  0.977549               79

[5156 rows x 4 columns]

## Normaliation

### Amplitude Normalization

In [11]:
# Task: amplitude Normalization

# min-max normalization 
min_max_scaler = MinMaxScaler()
# fyvals 

# minmax normalization for fxvals(ECG Voltage)
yvals_MinMax = min_max_scaler.fit_transform(yvals)

# examples
yvals_MinMax[370], yvals_MinMax[662], yvals_MinMax[947]

np.max(yvals_MinMax), np.min(yvals_MinMax), np.max(yvals), np.min(yvals)

(1.0,
 0.0,
 0    2.4267
 dtype: float64,
 0   -2.457075
 dtype: float64)

In [12]:
import functools
import itertools
import operator
import numpy as np
#import perfplot

def itertools_chain(a):
    return list(itertools.chain.from_iterable(a))

In [ ]:
# using sum() to list from array 
#### sooooo sloooow

# # Task: 1. R-R interval 나누기 + 3. R-R time frame(data points) Normalization 

# # itertools
# import functools
# import itertools
# import operator
# import numpy as np
# #import perfplot
# # signal tools 
# from scipy import signal


# # DataFrame: rr-interval + Norm_amplitude_yvalue
# def minmax_norm_amplitude(rpeaks, yvals_MinMax):
#     df_rr_intervals = pd.DataFrame(columns=['RR_index', 'Origin_Rpeak', 'RR_range_idx', 'RR_interval','Norm_amplitude_yvalue'])
      
    
#     for i in range(len(rpeaks)):
#         if i + 1 == len(rpeaks):
#             #rr_range_idx = i+1
#             break
#         else:
#             origin_rpeak = rpeaks.iloc[i]
#             rr_range_idx =[i, i+1]
#             # list to str
#             rr_range_idx = ','.join(str(e) for e in rr_range_idx)
#             rr_interval = rpeaks.iloc[i+1] - rpeaks.iloc[i]
#             new_yval = yvals_MinMax[int(rpeaks.iloc[i]):int(rpeaks.iloc[i+1])]
#             new_yval_1d = sum(new_yval.tolist(), [])

#             # add data into dictionary(dataframe)
#             tmp = pd.DataFrame({'RR_index':i,  'Origin_Rpeak':origin_rpeak, 'RR_range_idx': rr_range_idx, 'RR_interval':rr_interval,'Norm_amplitude_yvalue':[new_yval_1d]})
#             # "rr_index: i " means 0:rpeak[1]-rpeak[0]
            
#             df_rr_intervals = pd.concat([df_rr_intervals, tmp])
            
#     return df_rr_intervals

### Sperate wave into R-R interval

In [13]:
# Task: 1. R-R interval 나누기 + 3. R-R time frame(data points) Normalization 

# itertools
import functools
import itertools
import operator
import numpy as np
#import perfplot
# signal tools 
from scipy import signal

def itertools_chain(a):
    return list(itertools.chain.from_iterable(a))


# DataFrame: rr-interval + Norm_amplitude_yvalue
def minmax_norm_amplitude(rpeaks, yvals_MinMax):
    df_rr_intervals = pd.DataFrame(columns=['RR_index', 'Origin_Rpeak', 'RR_range_idx', 'RR_interval','Norm_amplitude_yvalue'])
    
    yvals_MinMax = itertools_chain(yvals_MinMax)
    
    for i in range(len(rpeaks)):
        if i + 1 == len(rpeaks):
            #rr_range_idx = i+1
            break
        else:
            origin_rpeak = rpeaks.iloc[i]
            rr_range_idx =[i, i+1]
            # list to str
            rr_range_idx = ','.join(str(e) for e in rr_range_idx)
            rr_interval = rpeaks.iloc[i+1] - rpeaks.iloc[i]
            new_yval = yvals_MinMax[int(rpeaks.iloc[i]):int(rpeaks.iloc[i+1])]
            # new_yval_1d = sum(new_yval.tolist(), [])

            # add data into dictionary(dataframe)
            tmp = pd.DataFrame({'RR_index':i,  'Origin_Rpeak':origin_rpeak, 'RR_range_idx': rr_range_idx, 'RR_interval':rr_interval,'Norm_amplitude_yvalue':[new_yval]})
            # "rr_index: i " means 0:rpeak[1]-rpeak[0]
            
            df_rr_intervals = pd.concat([df_rr_intervals, tmp])
            
    return df_rr_intervals

In [14]:
df = minmax_norm_amplitude(rpeaks, yvals_MinMax)

In [15]:
df

,RR_index,Origin_Rpeak,RR_range_idx,RR_interval,Norm_amplitude_yvalue
0,0,116.0,"0,1",93.0,"[0.5622263561478792, 0.4243009990905343, 0.386..."
0,1,209.0,"1,2",89.0,"[0.5524580051179417, 0.451409925982508, 0.3913..."
0,2,298.0,"2,3",94.0,"[0.5500827901490235, 0.5054880704034215, 0.449..."
0,3,392.0,"3,4",106.0,"[0.5543933604664523, 0.4997544434019189, 0.435..."
0,4,498.0,"4,5",90.0,"[0.5456545483532782, 0.5184285115387768, 0.519..."
...,...,...,...,...,...
0,5151,460243.0,"5151,5152",90.0,"[0.6065367327802283, 0.5064764540708178, 0.363..."
0,5152,460333.0,"5152,5153",88.0,"[0.6399087659316696, 0.5124195506852108, 0.395..."
0,5153,460421.0,"5153,5154",88.0,"[0.6237300652954432, 0.6076425642234468, 0.435..."
0,5154,460509.0,"5154,5155",87.0,"[0.6578096871307446, 0.6177331407222859, 0.418..."
0,5155,460596.0,"5155,5156",85.0,"[0.6646911452200733, 0.528190947980006, 0.3966..."

In [16]:
df_rr_intervals = df

In [17]:
df_rr_intervals

,RR_index,Origin_Rpeak,RR_range_idx,RR_interval,Norm_amplitude_yvalue
0,0,116.0,"0,1",93.0,"[0.5622263561478792, 0.4243009990905343, 0.386..."
0,1,209.0,"1,2",89.0,"[0.5524580051179417, 0.451409925982508, 0.3913..."
0,2,298.0,"2,3",94.0,"[0.5500827901490235, 0.5054880704034215, 0.449..."
0,3,392.0,"3,4",106.0,"[0.5543933604664523, 0.4997544434019189, 0.435..."
0,4,498.0,"4,5",90.0,"[0.5456545483532782, 0.5184285115387768, 0.519..."
...,...,...,...,...,...
0,5151,460243.0,"5151,5152",90.0,"[0.6065367327802283, 0.5064764540708178, 0.363..."
0,5152,460333.0,"5152,5153",88.0,"[0.6399087659316696, 0.5124195506852108, 0.395..."
0,5153,460421.0,"5153,5154",88.0,"[0.6237300652954432, 0.6076425642234468, 0.435..."
0,5154,460509.0,"5154,5155",87.0,"[0.6578096871307446, 0.6177331407222859, 0.418..."
0,5155,460596.0,"5155,5156",85.0,"[0.6646911452200733, 0.528190947980006, 0.3966..."

### Normalized Frame; sample points

In [18]:
# resampling
p_new_yval_1ds = []
point_norm_sample = int(np.median(df_rr_intervals['RR_interval']))

for i in range(len(df_rr_intervals)):
    p_new_yval = signal.resample(df_rr_intervals['Norm_amplitude_yvalue'].iloc[i], point_norm_sample)
    p_new_yval_1d = p_new_yval.tolist()
    p_new_yval_1ds.append(p_new_yval_1d)

#norm_df = pd.concat(df_rr_intervals, df_rr_intervals[''])
norm_df = df_rr_intervals.assign(Point_norm_sample = p_new_yval_1ds)

norm_df

# plt.hist(rr_intervals)# np.mean(rr_intervals), np.median(rr_intervals), np.max(rr_intervals)

,RR_index,Origin_Rpeak,RR_range_idx,RR_interval,Norm_amplitude_yvalue,Point_norm_sample
0,0,116.0,"0,1",93.0,"[0.5622263561478792, 0.4243009990905343, 0.386...","[0.5612516439336924, 0.41903476057316164, 0.39..."
0,1,209.0,"1,2",89.0,"[0.5524580051179417, 0.451409925982508, 0.3913...","[0.552458005117943, 0.45140992598250795, 0.391..."
0,2,298.0,"2,3",94.0,"[0.5500827901490235, 0.5054880704034215, 0.449...","[0.5502384223993755, 0.5020559457245233, 0.446..."
0,3,392.0,"3,4",106.0,"[0.5543933604664523, 0.4997544434019189, 0.435...","[0.5540657589904348, 0.4850830180936692, 0.431..."
0,4,498.0,"4,5",90.0,"[0.5456545483532782, 0.5184285115387768, 0.519...","[0.5454838661797972, 0.5182655889049094, 0.519..."
...,...,...,...,...,...,...
0,5151,460243.0,"5151,5152",90.0,"[0.6065367327802283, 0.5064764540708178, 0.363...","[0.6069028003849534, 0.5042907925935594, 0.362..."
0,5152,460333.0,"5152,5153",88.0,"[0.6399087659316696, 0.5124195506852108, 0.395...","[0.6399087659316696, 0.5147750095248959, 0.395..."
0,5153,460421.0,"5153,5154",88.0,"[0.6237300652954432, 0.6076425642234468, 0.435...","[0.6237300652954428, 0.6090694171073417, 0.438..."
0,5154,460509.0,"5154,5155",87.0,"[0.6578096871307446, 0.6177331407222859, 0.418...","[0.6578096871307451, 0.6208722874817755, 0.426..."
0,5155,460596.0,"5155,5156",85.0,"[0.6646911452200733, 0.528190947980006, 0.3966...","[0.6646911452200736, 0.5374830110718873, 0.400..."

#### R-Peak check from original data

In [127]:
# test ~5000 sample points 
rpeaks[rpeaks[0].values < 15000] # 166
rpeaks[rpeaks[0].values > 5000] # 53
lim_rpeaks= rpeaks.loc[53:166]

lim_rpeak_yvals = []
for x in lim_rpeaks[0].tolist():
    lim_rpeak_yvals.append(yvals[0][x])

In [139]:
tmp = sorted(lim_rpeak_yvals, reverse= True)

In [144]:
# outlier 
tmp
lim_rpeak_yvals.index(1.1793204328672875) #48
lim_rpeaks.iloc[48] #9445

48

In [152]:
# def itertools_chain(a):
#     return list(itertools.chain.from_iterable(a))

In [151]:
itertools_chain(yvals_MinMax)[9445]

0.7445869384868373

In [155]:
#plt.plot(lim_rpeaks, lim_rpeak_yvals)
plt.plot(list(range(5000,15000)), yvals[5000:15000])
plt.plot(lim_rpeaks, lim_rpeak_yvals, 'r*')

In [ ]:
len(norm_df.iloc[0]['Norm_amplitude_yvalue']), len(norm_df.iloc[1]['Norm_amplitude_yvalue']), len(norm_df.iloc[0]['Point_norm_sample']), len(norm_df.iloc[1]['Point_norm_sample'])

In [ ]:
def flatten(t):
    return [item for sublist in t for item in sublist]

norm_xy_df = flatten(p_new_yval_1ds)

In [ ]:
new_rpeak = [i+116 for i in range(len(norm_xy_df)) if i%89==0]
new_rpeak_yval = [norm_xy_df[i] for i in range(len(norm_xy_df)) if i%89==0]
norm_df['New_rpeak'] = new_rpeak
norm_df['New_rpeak_yval'] = new_rpeak_yval

In [ ]:
norm_df.iloc[1]

In [ ]:
norm_df.iloc[0]['Norm_amplitude_yvalue'][0], norm_df.iloc[0]['Point_norm_sample'][0],  norm_df.iloc[0]['New_rpeak_yval'], norm_df.iloc[0]['RR_interval']

In [ ]:
norm_df.iloc[1]['Norm_amplitude_yvalue'][0], norm_df.iloc[1]['Point_norm_sample'][0],  norm_df.iloc[1]['New_rpeak_yval'], norm_df.iloc[1]['RR_interval']

In [ ]:
yvalsList[rpeaksList]

In [ ]:
new_peak = [norm_xy_df[i] for i in range(len(norm_xy_df)) if i%89==0]
%matplotlib
plt.figure(figsize=(10,8))
plt.plot(forward_norm_xy_df[0:5000])
plt.plot(filteredList, new_rpeak_yval[:len(filteredList)], "r*")

In [ ]:
filteredList

In [ ]:
filteredList[0]+88

In [ ]:
# 5000미만 data뽑기
new_peak = [i for i in range(len(norm_xy_df)) if i%89==0]
filteredList = list(filter(lambda x: x<5000, new_rpeak))


plt.plot(norm_xy_df[0:5000])
plt.figure(figsize=(10,8))
plt.plot(norm_xy_df[0:5000])
plt.plot(filteredList, norm_xy_df[:len(filteredList)], "r*")

In [ ]:
new_rpeak_yval[len(filteredList)-1]

In [ ]:
tmp_y = flatten(new_yval)
yvals = pd.read_csv(os.path.join(PATH_IN, fxvalList[0]), header=None)

In [ ]:
len(yvals)

In [ ]:
rpeaks[yvals]

In [ ]:
newList = list(filter(isBiggerThanFive, new_rpeak))

In [ ]:
norm_df

In [ ]:
new_peak = [{i:yval} for i, yval in enumerate in norm_xy_df ]

In [ ]:
[{i:yval} for i, yval in enumerate in norm_xy_df ]#if i%89==0]

In [ ]:
norm_xy_df[89]

In [ ]:
89*2%89

In [ ]:
norm_xy_df

In [ ]:
norm_df.iloc[0]#['Origin_Rpeak']
len(norm_df.iloc[0]['Norm_amplitude_yvalue'])

In [ ]:
len(norm_df['Norm_amplitude_yvalue'].tolist()

In [ ]:
np.median(norm_df['RR_interval']), len(norm_df.iloc[0]['Point_norm_sample'])

In [ ]:
plt.plot(norm_df.iloc[0]['Point_norm_sample']+norm_df.iloc[1]['Point_norm_sample'])
plt.text(norm_df.iloc[0]['Point_norm_sample'][-1])

In [ ]:
len(norm_df.iloc[0][2]), len(norm_df.iloc[0][3])

In [ ]:
len(df['Norm_amplitude_yvalue'].iloc[0])

In [ ]:
df.iloc[0], df.iloc[1]

In [ ]:
# resampling 하면서 얻어진 rpeak 위치 찾기

In [ ]:
# Task: 1. R-R interval 나누기 + 3. R-R time frame(data points) Normalization 

# rr-interval
def minmax_norm_amplitude():
    df_rr_intervals = pd.DataFrame(columns=['RR_index', 'RR_interval', 'Norm_amplitude_yvalue'])

    for i in range(len(rpeaks)):
        if i + 1 == len(rpeaks):
            break
        else:
            rr_interval = rpeaks.iloc[i+1] - rpeaks.iloc[i]
            new_yval = yvals_MinMax[int(rpeaks.iloc[i]):int(rpeaks.iloc[i+1])]
            new_yval_1d = sum(new_yval.tolist(), [])

            # add data into dictionary(dataframe )
            tmp = pd.DataFrame({'RR_index':i, 'RR_interval':rr_interval, 'Norm_amplitude_yvalue': [new_yval_1d]})
                                # "rr_index: i " means 0:rpeak[1]-rpeak[0]
            df_rr_intervals = pd.concat([df_rr_intervals, tmp])
    return df_rr_intervals

# plt.hist(rr_intervals)# np.mean(rr_intervals), np.median(rr_intervals), np.max(rr_intervals)

In [ ]:
# resampling
from scipy import signal

p_new_yval_1ds = []
point_norm_sample = int(np.median(df_rr_intervals['RR_interval']))
#new_column = 
for i in range(len(df_rr_intervals)):
    p_new_yval = signal.resample(df_rr_intervals['Norm_amplitude_yvalue'].iloc[i], point_norm_sample)
    p_new_yval_1d = p_new_yval.tolist()
    p_new_yval_1ds.append(p_new_yval_1d)
    
#norm_df = pd.concat(df_rr_intervals, df_rr_intervals[''])
norm_df = df_rr_intervals.assign(Point_norm_sample = p_new_yval_1ds)

In [ ]:
norm_df

In [ ]:
norm_df.iloc[3]#['RR_index']

In [ ]:
# cut off 0.95
int(len(cos_df) * 0.95)

In [ ]:
cos_df.head()#['[int(len(cos_df) * 0.95)]

In [ ]:
cutoff_95 = cos_df.iloc[0:4898]['index'].tolist()

In [ ]:
# cufoff_95

In [ ]:
ref_frame = norm_df.iloc[int(cos_df.iloc[0]['index'])]

In [ ]:
cos_df.iloc[0], norm_df.iloc[0]

In [ ]:
fig = plt.figure(figsize=(20,10))
plt.plot(ref_frame['Point_norm_sample'])

In [ ]:
norm_df.iloc[0]['RR_index']

In [ ]:
for i in range(len(cutoff_95)):
    if norm_df.iloc[i]['RR_index'] in cutoff_95:
        fig = plt.figure(figsize=(20,10))
        plt.plot(norm_df.iloc[i]['Point_norm_sample'])

In [ ]:
sample_yvals = sum(norm_df['Point_norm_sample'].tolist(), [])

In [ ]:
len(sample_yvals)

In [ ]:
np.median(norm_df['RR_interval']) , len(norm_df), np.median(norm_df['RR_interval']) * len(norm_df)

In [ ]:
fig = plt.figure(figsize=(20,10))
plt.plot(sample_yvals[0:5000])
%matplotlib qt

In [ ]:
norm_df.iloc[0]['RR_index'] #1406

In [ ]:
amplitude_norm = sum(norm_df['Norm_amplitude_yvalue'].tolist(), [])

In [ ]:
%matplotlib qt
plt.figure(figsize=(20,10))
plt.plot(amplitude_norm[0:1000])

In [ ]:
fig = plt.figure(figsize=(20,10))
plt.plot(sample_yvals[0:1000])
# plt.plot(amplitude_norm[0:5000])

In [ ]:
fig = plt.figure(figsize=(20,10))
plt.plot(yvals[0:1000])

In [ ]:
rpeaks
yvals

In [ ]:
new = data["Gender"].isin(["Male"])

In [ ]:


for i in range(len(norm_df)):
    if norm_df['RR_index'][i]
    isin

In [ ]:
new_yval = yvals_MinMax[int(rpeaks.iloc[i]):int(rpeaks.iloc[i+1])]

In [ ]:
pd.DataFrame({'RR_index':i, 'RR_interval':rr_interval})
pd.DataFrame({'Normalized_yvalue': [new_yval_1d]})#.transpose

In [ ]:
pd.DataFrame({'RR_index':i, 'RR_interval':rr_interval, 'Normalized_yvalue': new_yval_1d})

In [ ]:
flat_list = [item for sublist in t for item in sublist]

In [ ]:
# Task: 3. R-R time frame(data points) Normalization 
# rr_interval, yvals

rr_intervals = []
y_vals = []
for i in range(len(rpeaks)):
    if i + 1 == len(rpeaks):
        break
    else:
        rr_interval = rpeaks.iloc[i+1] - rpeaks.iloc[i]
        y_val = fxvals_MinMax[int(rpeaks.iloc[i]):int(rpeaks.iloc[i+1])]
        rr_intervals.append(int(rr_interval))
        y_vals.append(y_val)
        
len(y_vals), len(rr_intervals)